@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    margin: 0px 20px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background-color: #f1f1f1;
}
h3 {
    margin-top: 15px;
    font-family: "Barlow";
    font-weight: bold;
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 1rem;
    width: 270px;
}

/* General input styles */

input,
.input-group {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;

    border-radius: 8px;
    border: 0px;
    font-size: inherit;
    box-sizing: border-box;
}

/* Text Fields */

input:not([type="submit"]) {
    border: 2px solid #767676;
    padding: 16px;
    background-color: #f1f1f1;
}

input:not([type="submit"]):focus {
    background-color: white;
    border: 2px solid #242424;
    outline: none;
}

input:not([type="submit"]):not([value=""]) {
    border: 2px solid #242424;
}

label {
    font-size: 16px;
    position: absolute;
    display: inline-block;
    left: 16px;
    top: 14px;
    pointer-events: none;
    z-index: 1;
    color: #767676;
    opacity: 0.5;

    transition: 0.4s cubic-bezier(0.65, -0.32, 0.38, 1.23) all;
    -moz-transition: 0.4s cubic-bezier(0.65, -0.32, 0.38, 1.23) all;
    -webkit-transition: 0.4s cubic-bezier(0.65, -0.32, 0.38, 1.23) all;
}

input:focus ~ label,
input:not([value=""]) ~ label {
    top: -10px;
    left: 8px;
    font-size: 14px;
    opacity: 1;
    padding: 1px 8px;
    border-radius: 2px;
}

input:not([value=""]) ~ label {
    background-color: #f1f1f1;
    color: #242424;
}

input:focus ~ label {
    background-color: #242424;
    color: white;
}

/* Submit Button */

input[type="submit"] {
    margin-top: 8px;
    background-color: #242424;
    color: white;
    cursor: pointer;
}

input[type="submit"]:focus {
    outline: none;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    column-gap: 10rem;
    justify-content: center;
}
